<ion-header>
  <ion-toolbar>
    <ion-title>
      upload 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <!-- <img *ngIf="image" [src]="image" width="130" height="130"  > -->
 
      
    
    <ng-container *ngIf="progress | async as percent">

        <progress [value]="percent" max="100"></progress>
      
      </ng-container>
     <br>
      <!-- <ion-button (click)="task.pause()">pause</ion-button>
      <ion-button (click)="task.resume()">Resume</ion-button>
       -->
      <br>
      <ion-icon name="camera" (click)="uploadHandler()" style="zoom:2.0;">camera</ion-icon>
      <br>
      <!-- <img *ngIf="image" [src]="imgsrc" width="100" height="100"  > -->
      
        <ion-img [src]="imgsrc" style="width: 100px; height: 100px;" ></ion-img>
        
        
 
        
     
      
  </div>
</ion-content>
